<footer id="footer" style="margin-top: 50px">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-content">
          <h3>Fashion</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto,
            fugit.
          </p>
          <p>
            Egypt <br />
            USA <br />
            Spain <br />
          </p>
          <strong
            ><i class="fas fa-phone"></i>Phone:
            <strong>01151193187</strong></strong
          ><br />

          <strong
            ><i class="fa-solid fa-envelope"></i>Email:
            <strong>bishogamal6@gmail</strong></strong
          >
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="about">About</a></li>
            <li><a routerLink="contact">Contact</a></li>
            <li><a routerLink="/">Services</a></li>
            <li><a routerLink="/">Privacy policay</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est,
            deserunt?
          </p>
          <ul>
            <li><a href="#">Smart Phone</a></li>
            <li><a href="#">Smart Watch</a></li>
            <li><a href="#">Airbods</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Social Network</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque,
            nihil.
          </p>
          <div class="social-links mt-3">
            <a href="" class="twitter"><i class="fa-brands fa-twitter"></i></a>
            <a href="" class="twitter"
              ><i class="fa-brands fa-facebook-f"></i
            ></a>
            <a href="" class="twitter"
              ><i class="fa-brands fa-google-plus"></i
            ></a>
            <a href="" class="twitter"
              ><i class="fa-brands fa-instagram"></i
            ></a>
            <a href="" class="twitter"
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="container py-4">
    <div class="copyright">
      &copy; Copyright <strong>Fashion</strong>. All Rights Reserved
    </div>
    <div class="credits">Designed By <a href="#">Bishoy Gamal</a></div>
  </div>
</footer>

<!-- <a href="" class="arrow" id="scroll-top"><i class="fa-solid fa-arrow-up fa-2x"></i></a> -->
